In [ ]:
# Introduction to Python

In [ ]:
## Comments

In [1]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."
print(text)

# This is not a comment because it's inside quotes.

# title
* bullet

## Python basics

### Arithmetic and numeric types

> **Learning goal:** By the end of this subsection, you should be comfortable with using numeric types in Python arithmetic.

### Python numeric operators

In [ ]:
2 + 3

**Share**: What is the answer? Why?

In [2]:
30 - 4 * 5

10

**Share**: What is the answer? Why?

In [3]:
7 / 5

1.4

In [4]:
%%python2
## In Python 2, when we divide two integers, we'll get an integer result (not a float), without the remainder.
print(7 / 5)

1

In [ ]:
3 * 3.5

In [ ]:
7.0 / 5

### Floor Division

In [5]:
## "Integer Division", division that its result will be an integer (natural whole number). If one of the numbers is negative, we round down to the nearest integer.
## That's why the result here is (-2) and not (-1).
-7 // 5

-2

### Remainder (modulo)

In [6]:
7 % 5

2

### Exponents

In [ ]:
5 ** 2

In [ ]:
2 ** 5

**Share**: What is the answer? Why?

In [ ]:
-5 ** 2

In [ ]:
(-5) ** 2

In [ ]:
(30 - 4) * 5

### Variables

**Share**: What is the answer? Why?

In [ ]:
## Compute the result of 3 * 5 and then put it in "length".
length = 15
width = 3 * 5
length * width

### Python is dynamically typed

In [7]:
# Meaning: we don't specify the type of a variable (integer/string/float...) when we create it
# We can re-assign a variable to hold any data type, without stating which type it has to be.
# Unlike Java/C/C++/Golang, where the interperter checks the data type and you have to change it according to the value.
length = 15
length

15

In [ ]:
length = 15.0
length

In [ ]:
length = 'fifteen'
length
# ...and a variable may be given a new value of a different type

**Share**: What will happen? Why?

In [ ]:
previous_unseen_variable

### The _ can be used to refert to previous output

In [8]:
tax = 11.3 / 100
price = 19.95
price * tax

2.25435

In [ ]:
price + _

In [9]:
round(_, 2)

2.25

### Multiple Variable Assignment

In [ ]:
# We can define the variables on the same line, but this is mainly useful if the variables are related to one another (like an x, y, z axis).
a, b, c, = 3.2, 1, 6
a, b, c

### Expressions

**Share**: What is the answer? Why?

In [ ]:
2 < 5

In [ ]:
# Run after learners have shared the above
from IPython.display import Image
Image(filename='Images/Python-Comparison-Operators.png')

### Complex Expressions

In [ ]:
a, b, c = 1, 2, 3
a < b < c

### Built-In Functions
* a function is a snippet of code wrapped up and given a name, so it can be reused
* think of your calculator or your maths class, e.g., __f(x) = 1 / x__

In [ ]:
min(3, 2.4, 5)

In [ ]:
max(3, 2.4, 5)

### Compound Expressions

In [13]:
1 < 2 and 1 <= 3
# a real-life example: if it's light out AND you finished your homework, you can go outside.

True



### Exercise

**Think, Pair, Share**
1. Quietly think about what would happen if you flipped one of the `<` to a `>`. 
2. Share with the person next to you what you think will happen. 
3. Try it out in the code cell below. 
4. Share anything you thought was surprising.

In [ ]:
# Now flip around one of the simple expressions and see if the output matches your expectations:

### The __`or`__ and __`not`__ operators
**Share**: What is the answer? Why?

In [ ]:
1 < 2 or 1 > 2
# real-life example: if a taxi goes by OR if the bus arrives, you can be on your way.

In [ ]:
not (2 < 3)

### Exercise
**Think, Pair, Share**
1. Quietly think about what would the results would be. *Tip: Use paper!*
2. Share with the person next to you what you think will happen. 
3. Try it out in the code cell below. 
4. Share anything you thought was surprising.
5. Instructor Demo

In [14]:
# Play around with compound expressions.
# Set i to different values to see what results this complex compound expression returns:
i = 7
(i == 2) or not (i % 2 != 0 and 1 < i < 5)

True

> **Takeaway:** Arithmetic operations on numeric data form the foundation of data science work in Python. Even sophisticated numeric operations are predicated on these basics, so mastering them is essential to doing data science.

## Strings

> **Learning goal:** By the end of this subsection, you should be comfortable working with strings at a basic level in Python.

In [ ]:
'spam eggs'  # Single quotes.

In [ ]:
'doesn\'t'  # Use \' to escape the single quote...

In [ ]:
"doesn't"  # ...or use double quotes instead.

In [ ]:
'"Isn\'t," she said.'

In [ ]:
print('"Isn\'t," she said.')

**Pause**
Notice the difference between the previous two code cells when they are run.

In [ ]:
print('C:\some\name')  # Here \n means newline!

In [ ]:
## raw string - don't do any manipulations on it.
print(r'C:\some\name')  # Note the r before the quote.

### String Literals

**Think, Pair, Share**

In [15]:
3 * 'un' + 'ium'

'unununium'

### Concatenating strings

In [ ]:
'Py' 'thon'

In [ ]:
prefix = 'Py'
prefix + 'thon'

### String Indexing

**Think, Pair, Share**

In [17]:
word = 'Python'
word[0]

'P'

**Share**

In [18]:
word[5]

'n'

**Share**

In [ ]:
word[-1]

In [ ]:
word[-2]

In [19]:
word[-7]

IndexError: string index out of range

### Slicing

**Think, Pair, Share**

In [ ]:
word[2:5]

**Share**

In [ ]:
word[:2]

In [ ]:
word[4:]

In [20]:
word[-2:]

'on'

**Share**

In [ ]:
word[:2] + word[2:]

In [ ]:
word[:4] + word[4:]

**TIP**

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

**Share**

In [ ]:
word[42]  # The word only has 6 characters.

**Share**

In [21]:
word[4:42]

'on'

In [22]:
word[42:]

''

**Strings are Immutable**

In [ ]:
word[0] = 'J'

In [ ]:
word[2:] = 'py'

In [ ]:
'J' + word[1:]

In [ ]:
word[:2] + 'Py'

**Built-In Function: __`len`__**

In [ ]:
s = 'supercalifragilisticexpialidocious'
len(s)

**Built-In Function: __`str`__**

In [ ]:
str(2)

In [ ]:
str(2.5)

## Other data types

> **Learning goal:** By the end of this subsection, you should have a basic understanding of the remaining fundamental data types in Python and an idea of how and when to use them.

### Lists
* heterogeneous
* ordered
* duplicates allowed

In [ ]:
squares = [1, 4, 9, 16, 25]
squares

**Indexing and slicing lists is the same as strings**

In [ ]:
squares[0]

In [ ]:
squares[-1]

In [ ]:
squares[-3:]

In [ ]:
squares[:]

**Think, Pair, Share**

In [ ]:
squares + [36, 49, 64, 81, 100]

**Lists are Mutable**

In [23]:
cubes = [1, 8, 27, 65, 125]
4 ** 3

64

**Think, Pair, Share**

In [26]:
# Replace the wrong value.
cubes[3] = 64
cubes[-1] = 122
print(cubes)

[1, 8, 27, 64, 122]

**Replace Many Values**

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

**Share**

In [ ]:
letters[2:5] = ['C', 'D', 'E']
letters

**Share**

In [ ]:
del letters[2:5]
letters

In [ ]:
letters = []
letters

**Built-In Function __`len`__**

In [ ]:
letters = ['a', 'b', 'c', 'd']
len(letters)

### Nesting (lists of lists)

**Think, Pair, Share**

In [27]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list3 = [list1, list2]
list3

[['a', 'b', 'c'], [1, 2, 3]]

**Share**

In [28]:
list3[0]

['a', 'b', 'c']

**Share**

In [29]:
## From the first item in list 3 (list1), bring the first item (a)
list3[0][0]

'a'

### Exercise:

In [31]:
# Nested lists come up a lot in programming, so it pays to practice.
# Which indices would you include after list3 to get ‘c’?
# How about to get 3?
print (list[0] [-1])

TypeError: 'type' object is not subscriptable

### List methods
* methods are a fancy term for functions
* the distinction is beyond the scope of what we will learn today

**Share**

In [37]:
beatles = ['John', 'Paul']
beatles.append('George')
beatles

['John', 'Paul', 'George']

**Share**

In [ ]:
beatles2 = ['John', 'Paul', 'George']
beatles2.append(['Stuart', 'Pete'])
beatles2

**Share**

In [38]:
beatles.extend(['Stuart', 'Pete'])
beatles

['John', 'Paul', 'George', 'Stuart', 'Pete']

**Share**

In [39]:
beatles.index('George')

2

In [40]:
beatles.count('John')

1

In [41]:
beatles.remove('Stuart')
beatles

['John', 'Paul', 'George', 'Pete']

In [42]:
beatles.pop()

'Pete'

In [43]:
beatles.insert(1, 'Ringo')
beatles

['John', 'Ringo', 'Paul', 'George']

In [44]:
beatles.reverse()
beatles

['George', 'Paul', 'Ringo', 'John']

In [45]:
beatles.sort()
beatles

['George', 'John', 'Paul', 'Ringo']

### Exercise:

In [48]:
# What happens if you run beatles.extend(beatles)?
# How about beatles.append(beatles)?
beatles.append(beatles)
beatles

['George',
 'John',
 'Paul',
 'Ringo',
 [...],
 'George',
 'John',
 'Paul',
 'Ringo',
 [...],
 [...]]

### Tuples
* usually used to hold a bunch of attributes of a thing, e.g, an employee

In [ ]:
t = ('Gates', 'Bill', 1, 'Founder')
t

**Tuples are Immutable**

In [ ]:
t[1] = 'William'

In [ ]:
t[1]

In [ ]:
t[:2]

## Lists <=> Tuples

In [ ]:
l = ['baked', 'beans', 'spam']
l = tuple(l)
l

In [ ]:
l = list(l)
l

### Membership testing

**Share**

In [ ]:
my_tuple = ('Gates', 'Bill', 1, 'Founder')
'Bill' in my_tuple

In [ ]:
my_list = ['Bill Gates', 'Steve Ballmer', 'Satya Nadella']
'Steve Jobs' not in my_list

### Exercise:

In [49]:
# What happens if you run my_list in my_list?
# Is that the behavior you expected?
# If not, think back to the nested lists we’ve already encountered.
my_list in my_list

NameError: name 'my_list' is not defined

### Dictionaries

In [67]:
capitals = {'France': ('Paris', 2140526), "Neverland" : ('Narnia', 35000)}
capitals

{'France': ('Paris', 2140526), 'Neverland': ('Narnia', 35000)}

In [52]:
capitals['Nigeria'] = ('Lagos', 6048430)
capitals

{'France': ('Paris', 2140526), 'Nigeria': ('Lagos', 6048430)}

### Exercise:

In [ ]:
# Now try adding another country (or something else) to the capitals dictionary

### Interacting with Dictionaries

In [56]:
capitals['France']

('Paris', 2140526)

In [57]:
capitals['Nigeria'] = ('Abuja', 1235880)
capitals

{'France': ('Paris', 2140526), 'Nigeria': ('Abuja', 1235880)}

In [58]:
len(capitals)

2

In [65]:
help(capitals.popitem)

Help on built-in function popitem:

popitem(...) method of builtins.dict instance
    D.popitem() -> (k, v), remove and return some (key, value) pair as a
    2-tuple; but raise KeyError if D is empty.

In [ ]:
capitals

> **Takeaway:** Regardless of how complex and voluminous the data you will work with, these basic data structures will repeatedly be your means for handling and manipulating it. Comfort with these basic data structures is essential to being able to understand and use Python code written by others.

## List Comprehensions

> **Learning goal:** By the end of this subsection, you should understand how to economically and computationally create lists.

In [ ]:
## create an empty list, like saying "let's get a blank page for my shopping list"

In [68]:
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [72]:
# numbers equals/is a list of x's, which are the numbers from one till ten.
# OR: this is a list that has square brackets, and it takes the items if they appear in the range. 
numbers = [x for x in range(1, 11)] # Remember to create a range 1 more than the number you actually want
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
for num in range(1,11):
    print(num * num)

1
4
9
16
25
36
49
64
81
100

In [73]:
squares = [x * x for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### List Comprehension with a Filter

In [75]:
# the variable "skip_5s" is a list since it has square brackets, and then we decide what goes in it.
# I only want numbers from one till one-hundred-and-one that answer the "if statement"
skip_5s = [x for x in range(1, 101) if x % 5 != 0]
print(skip_5s)

[1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99]

### Exercise:

In [76]:
# Now use a list comprehension to generate a list of odd cubes
# from 1 to 13 (1 ** 3, 2 ** 3, ..., 13 ** 3)
odd_cubes = [x for x in range(1, 14, 2)] ## adding the 2 makes us skip every other item, so we only get even numbers.
odd_cubes

[1, 3, 5, 7, 9, 11, 13]

> **Takeaway:** List comprehensions are a popular tool in Python because they enable the rapid, programmatic generation of lists. The economy and ease of use therefore make them an essential tool for you (in addition to a necessary topic to understand as you try to understand Python code written by others).

### Importing modules

> **Learning goal:** By the end of this subsection, you should be comfortable importing modules in Python.

In [ ]:
# Python comes with "batteries included", but sometimes you need to load them in order to use them.

In [77]:
factorial(5)

NameError: name 'factorial' is not defined

In [78]:
## we first need to get the function that enables us to do the "factorial".
import math
math.factorial(5)

120

In [80]:
# we can also just ask for the specific function.
from math import factorial
factorial(52) # this is a 52 factorial, the number of ways we can shuffle a deck of cards.

80658175170943878571660636856403766975289505440883277824000000000000


> **Takeaway:** There are several Python modules that you will regularly use in conducting data science in Python, so understanding how to import them will be essential (especially in this training).