# Manipulating and Cleaning Data


## Exploring `DataFrame` information

> **Learning goal:** By the end of this subsection, you should be comfortable finding general information about the data stored in pandas DataFrames.

In [5]:
import pandas as pd
from sklearn.datasets import load_iris
## sklearn is a machine-learning module in python, with pre-loaded datasets
## load_iris is a function that will allow us to load the iris data
## Ron Fischer created a dataset of 150 iris plants, of which there are 3 types of species
## He was trying to observe and measure irises in the wild, documenting the: length of petal, length of sepal, width of sepal


iris = load_iris()
# if you just print out *iris* - you'll see the data is messy. lots of text, etc. the important thing is  the data and feature names
# we'll create a DataFrame that includes only the actual data and the feature names
iris_df = pd.DataFrame(data=iris['data'], columns=iris['feature_names']) 
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
5                  5.4               3.9                1.7               0.4
6                  4.6               3.4                1.4               0.3
7                  5.0               3.4                1.5               0.2
8                  4.4               2.9                1.4               0.2
9                  4.9               3.1                1.5               0.1
10                 5.4               3.7                1.5               0.2
11                 4.8               3.4                1.6               0.2
12                 4.8               3.0                1.4               0.1
13                 4.3               3.0                1.1               0.1
14                 5.8               4.0                1.2               0.2
15                 5.7               4.4                1.5               0.4
16                 5.4               3.9                1.3               0.4
17                 5.1               3.5                1.4               0.3
18                 5.7               3.8                1.7               0.3
19                 5.1               3.8                1.5               0.3
20                 5.4               3.4                1.7               0.2
21                 5.1               3.7                1.5               0.4
22                 4.6               3.6                1.0               0.2
23                 5.1               3.3                1.7               0.5
24                 4.8               3.4                1.9               0.2
25                 5.0               3.0                1.6               0.2
26                 5.0               3.4                1.6               0.4
27                 5.2               3.5                1.5               0.2
28                 5.2               3.4                1.4               0.2
29                 4.7               3.2                1.6               0.2
..                 ...               ...                ...               ...
120                6.9               3.2                5.7               2.3
121                5.6               2.8                4.9               2.0
122                7.7               2.8                6.7               2.0
123                6.3               2.7                4.9               1.8
124                6.7               3.3                5.7               2.1
125                7.2               3.2                6.0               1.8
126                6.2               2.8                4.8               1.8
127                6.1               3.0                4.9               1.8
128                6.4               2.8                5.6               2.1
129                7.2               3.0                5.8               1.6
130                7.4               2.8                6.1               1.9
131                7.9               3.8                6.4               2.0
132                6.4               2.8                5.6               2.2
133                6.3               2.8                5.1               1.5
134                6.1               2.6                5.6               1.4
135                7.7               3.0                6.1               2.3
136                6.3               3.4                5.6               2.4
137                6.4               3.1                5.5               1.8
138                6.0               3.0                4.8               1.8
139                6.9               3.1                5.4               2.1
140                6.7               3.1                5.6               2.4
141                6.9               3.1                5.1               2.3
142                5.8               2.7                5.1               1.9
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

### `DataFrame.info`
**Dataset Alert**: Iris Data about Flowers

In [6]:
# it's very easy to discriminate between sittoso species and other species of irises
# that's why it's a good dataset

# give us more information about this dataframe
iris_df.info()


# the dataset is clean - all information is non-null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
sepal length (cm)    150 non-null float64
sepal width (cm)     150 non-null float64
petal length (cm)    150 non-null float64
petal width (cm)     150 non-null float64
dtypes: float64(4)
memory usage: 4.8 KB

### __`DataFrame.head()`__

In [13]:
iris_df.head()

## you might want to do a sanity check for the first few rows, checking to make sure it looks like you expected
## if you don't specify the head - you still won't get the whole dataframe (only the first few)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

### Exercise:

By default, __`DataFrame.head()`__ returns the first five rows of a __`DataFrame`__. In the code cell below, can you figure out how to get it to show more?

In [14]:
# Hint: Consult the documentation by using iris_df.head?

### __`DataFrame.tail()`__

In [15]:
iris_df.tail()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8



> **Takeaway:** Even just by looking at the metadata about the information in a DataFrame or the first and last few values in one, you can get an immediate idea about the size, shape, and content of the data you are dealing with.

## Dealing with missing data

> **Learning goal:** By the end of this subsection, you should know how to replace or remove null values from DataFrames.

### None vs. NaN

### `None`: non-float missing data

In [16]:
# in Python, we have none, a special value that means "no value"
# in NumPy we have NaN = Not a Number

import numpy as np

example1 = np.array([2, None, 6, 8])
example1

array([2, None, 6, 8], dtype=object)

In [22]:
# every language has a way of demonstrating nothingness, like null
# the system puts 'null' and he got all the traffic tickets
# in Python, it's *none*
# some functions return a value

x = print('hello')

hello

In [23]:
x

In [24]:
print(x) # run the print() function and capture its value, which is nothing/none

None

In [25]:
# this is not the same as NaN, which is Not a Number

**Think, Pair, Share**

In [17]:
example1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

**Key takeaway**: Addition (and other operations) between integers and __`None`__ values is undefined, which can limit what you can do with datasets that contain them.

### `NaN`: missing float values

In [27]:
np.nan + 1 # this won't crash
# *nan* is a weird non-number, so anytime you use it in an expression, you'll get *nan*

nan

In [28]:
np.nan * 0

nan

In [30]:
np.nan == np.nan
# it doesn't crash,but it doesn't return NaN.
# this makes sure we don't miss a case where a NaN expression equals a NaN expression.
# once we get a NaN result, we'll know something is missing

False

**Think, Pair, Share**

In [31]:
example2 = np.array([2, np.nan, 6, 8]) 
example2.sum(), example2.min(), example2.max()

(nan, nan, nan)

### Exercise

In [34]:
# What happens if you add np.nan and None together?

## __`NaN`__ and __`None`__: null values in pandas

In [36]:
# I have a Panda series with the values 1,2,3 and the indices 0,1,2
int_series = pd.Series([1, 2, 3], dtype=int)
int_series

0    1
1    2
2    3
dtype: int64

int_series[0] = None
int_series

### Exercise

In [ ]:
# Now set an element of int_series equal to None.
# How does that element show up in the Series?
# What is the dtype of the Series?

## Detecting null values: __`isnull()`__ and __`notnull()`__

In [37]:
example3 = pd.Series([0, np.nan, '', None]) # a zero, a NaN, an empty string, a None

In [39]:
example3.isnull() # the function isnull checks for each item if it is null or not
# if a column has an entry of a missing string, Panda will consider it as data (we might want to tell it otherwise)
# nothing else is considered missing, unless we tell Panda otherwise
# at the point where we read data from a csv file, we can tell it to write something (like "null") in case it's missing data
# we need to know how the actual data looks like

0    False
1     True
2    False
3     True
dtype: bool

### Exercise:

In [41]:
# Try running example3[example3.notnull()].
# Before you do so, what do you expect to see?



# notnull returns True or False, so we can add it up to know how many True columns we have (and how many are missing)
# useful for inspecting data

**Key takeaway**: Both the __`isnull()`__ and __`notnull()`__ methods produce similar results when you use them in `DataFrame`s: they show the results and the index of those results, which will help you enormously as you wrestle with your data.

### Dropping null values

In [45]:
# if I have a dataset with missing data, what do I do?
# there are many options, but we may want to reconstruct the data
# For example, drop na (Not Available)
example3 = example3.dropna()
example3

0    0
2
dtype: object

In [47]:
example4 = pd.DataFrame([[1,      np.nan, 7], 
                         [2,      5,      8], 
                         [np.nan, 6,      9]])
example4

     0    1  2
0  1.0  NaN  7
1  2.0  5.0  8
2  NaN  6.0  9

**Think, Pair, Share**

In [50]:
# here is a data frame with *na*s missing
# if we use drop nan - we might delete entire rows, and we might not want that (Panda won't take care of it - we need to decide what happens to it)
example4.dropna()

     0    1  2
1  2.0  5.0  8

### Drop from Columns

In [52]:
# we can be more specific
# axis=1 is columns
# axis=0 is rows
example4.dropna(axis=1)

   2
0  7
1  8
2  9

__`how='all'`__ will drop only rows or columns that contain all null values

**Tip**: run __`example4.dropna?`__

In [54]:
# this is even more specific, dropping info that has *all* data missing
example4[3] = np.nan
example4

     0    1  2   3
0  1.0  NaN  7 NaN
1  2.0  5.0  8 NaN
2  NaN  6.0  9 NaN

### Exercise

In [57]:
# How might you go about dropping just column 3?
# Hint: remember that you will need to supply both the axis parameter and the how parameter
example4.dropna(how='all', axis='columns') # we want to only drop the columns that are missing data

     0    1  2
0  1.0  NaN  7
1  2.0  5.0  8
2  NaN  6.0  9

The __`thresh`__ parameter gives you finer-grained control: you set the number of *non-null* values that a row or column needs to have in order to be kept.

**Think, Pair, Share**

In [58]:
# the threshold - how many nan values does a row have to have, in order for it to bee dropped? we decide.


example4.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  5.0  8 NaN

## Filling null values

In [59]:
example5 = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
example5

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [60]:
example5.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

### Exercise

In [61]:
# What happens if you try to fill null values with a string, like ''?

### Forward-fill

In [62]:
example5.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

### Back-fill

In [63]:
example5.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

### Specify Axis

In [64]:
example4

     0    1  2   3
0  1.0  NaN  7 NaN
1  2.0  5.0  8 NaN
2  NaN  6.0  9 NaN

In [65]:
example4.fillna(method='ffill', axis=1)

     0    1    2    3
0  1.0  1.0  7.0  7.0
1  2.0  5.0  8.0  8.0
2  NaN  6.0  9.0  9.0

### Exercise

In [66]:
# What output does example4.fillna(method='bfill', axis=1) produce?
# What about example4.fillna(method='ffill') or example4.fillna(method='bfill')?
# Can you think of a longer code snippet to write that can fill all of the null values in example4?

### Fill with Logical Data

In [67]:
example4

     0    1  2   3
0  1.0  NaN  7 NaN
1  2.0  5.0  8 NaN
2  NaN  6.0  9 NaN

In [69]:
example4.fillna(example4.mean()) # we can fill all data with the mean of other data that we had - not always what we want

     0    1  2   3
0  1.0  5.5  7 NaN
1  2.0  5.0  8 NaN
2  1.5  6.0  9 NaN



> **Takeaway:** There are multiple ways to deal with missing values in your datasets. The specific strategy you use (removing them, replacing them, or even how you replace them) should be dictated by the particulars of that data. You will develop a better sense of how to deal with missing values the more you handle and interact with datasets.

## Removing duplicate data

> **Learning goal:** By the end of this subsection, you should be comfortable identifying and removing duplicate values from DataFrames.

### Identifying duplicates: `duplicated`

In [70]:
example6 = pd.DataFrame({'letters': ['A','B'] * 2 + ['B'],
                         'numbers': [1, 2, 1, 3, 3]})
example6

  letters  numbers
0       A        1
1       B        2
2       A        1
3       B        3
4       B        3

In [73]:
example6.duplicated() # returns a boolean vector

0    False
1    False
2     True
3    False
4     True
dtype: bool

### Dropping duplicates: `drop_duplicates`

In [74]:
example6.drop_duplicates()

  letters  numbers
0       A        1
1       B        2
3       B        3

In [75]:
example6.drop_duplicates(['letters'])

  letters  numbers
0       A        1
1       B        2

> **Takeaway:** Removing duplicate data is an essential part of almost every data-science project. Duplicate data can change the results of your analyses and give you spurious results!

## Combining datasets: merge and join

> **Learning goal:** By the end of this subsection, you should have a general knowledge of the various ways to combine __`DataFrame`__s.

### Categories of Joins

__`merge`__ carries out several types of joins: *one-to-one*, *many-to-one*, and *many-to-many*.

### One-to-one Joins

Consider combining two __`DataFrame`__s that contain different information on the same employees in a company:

In [82]:
# you can merge dataframes that have common columns
df1 = pd.DataFrame({'employee': ['Gary', 'Stu', 'Mary', 'Sue'],
                    'group': ['Accounting', 'Marketing', 'Marketing', 'HR']})
df1

  employee       group
0     Gary  Accounting
1      Stu   Marketing
2     Mary   Marketing
3      Sue          HR

In [83]:
df2 = pd.DataFrame({'employee': ['Mary', 'Stu', 'Gary', 'Sue'],
                    'hire_date': [2008, 2012, 2017, 2018]})
df2

  employee  hire_date
0     Mary       2008
1      Stu       2012
2     Gary       2017
3      Sue       2018

Combine this information into a single __`DataFrame`__ using the __`merge`__ function:

In [84]:
df3 = pd.merge(df1, df2)
df3

  employee       group  hire_date
0     Gary  Accounting       2017
1      Stu   Marketing       2012
2     Mary   Marketing       2008
3      Sue          HR       2018

### Many-to-one Joins

In [85]:
df4 = pd.DataFrame({'group': ['Accounting', 'Marketing', 'HR'],
                    'supervisor': ['Carlos', 'Giada', 'Stephanie']})
df4

        group supervisor
0  Accounting     Carlos
1   Marketing      Giada
2          HR  Stephanie

In [86]:
pd.merge(df3, df4)

  employee       group  hire_date supervisor
0     Gary  Accounting       2017     Carlos
1      Stu   Marketing       2012      Giada
2     Mary   Marketing       2008      Giada
3      Sue          HR       2018  Stephanie

### Specify Key

In [87]:
pd.merge(df3, df4, on='group')

  employee       group  hire_date supervisor
0     Gary  Accounting       2017     Carlos
1      Stu   Marketing       2012      Giada
2     Mary   Marketing       2008      Giada
3      Sue          HR       2018  Stephanie

### Many-to-many Joins

In [88]:
df1

  employee       group
0     Gary  Accounting
1      Stu   Marketing
2     Mary   Marketing
3      Sue          HR

In [89]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting', 'Marketing', 'Marketing', 'HR', 'HR'],
                    'core_skills': ['math', 'spreadsheets', 'writing', 'communication',
                               'spreadsheets', 'organization']})
df5

     core_skills       group
0           math  Accounting
1   spreadsheets  Accounting
2        writing   Marketing
3  communication   Marketing
4   spreadsheets          HR
5   organization          HR

In [90]:
pd.merge(df1, df5, on='group')

  employee       group    core_skills
0     Gary  Accounting           math
1     Gary  Accounting   spreadsheets
2      Stu   Marketing        writing
3      Stu   Marketing  communication
4     Mary   Marketing        writing
5     Mary   Marketing  communication
6      Sue          HR   spreadsheets
7      Sue          HR   organization

### __`left_on`__ and __`right_on`__ keywords

In [91]:
df6 = pd.DataFrame({'name': ['Gary', 'Stu', 'Mary', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
df6

   name  salary
0  Gary   70000
1   Stu   80000
2  Mary  120000
3   Sue   90000

In [92]:
pd.merge(df1, df6, left_on="employee", right_on="name")

  employee       group  name  salary
0     Gary  Accounting  Gary   70000
1      Stu   Marketing   Stu   80000
2     Mary   Marketing  Mary  120000
3      Sue          HR   Sue   90000

### Exercise:

In [ ]:
# Using the documentation, can you figure out how to use .drop() to get rid of the 'name' column?
# Hint: You will need to supply two parameters to .drop()

### __`left_index`__ and __`right_index`__ keywords

In [ ]:
df1a = df1.set_index('employee')
df1a

In [ ]:
df2a = df2.set_index('employee')
df2a

In [ ]:
pd.merge(df1a, df2a, left_index=True, right_index=True)

### Exercise:

In [ ]:
# What happens if you specify only left_index or right_index?

### __`join`__ for __`DataFrame`__s

In [ ]:
df1a.join(df2a)

**Mix and Match**: `left_index`/`right_index` with `right_on`/`left_on`

In [ ]:
pd.merge(df1a, df6, left_index=True, right_on='name')

### Set arithmetic for joins

In [ ]:
df5 = pd.DataFrame({'group': ['Engineering', 'Marketing', 'Sales'],
                    'core_skills': ['math', 'writing', 'communication']})
df5

In [ ]:
df1

In [ ]:
pd.merge(df1, df5, on='group')

### __`intersection`__ for merge

In [ ]:
pd.merge(df1, df5, on='group', how='inner')

### Exercise

In [ ]:
# The keyword for perfoming an outer join is how='outer'. How would you perform it?
# What do you expect the output of an outer join of df1 and df5 to be?

### Share

In [ ]:
pd.merge(df1, df5, how='left')

### Exercise:

In [ ]:
# Now run the right merge between df1 and df5.
# What do you expect to see?

### `suffixes` keyword: dealing with conflicting column names

In [ ]:
df7 = pd.DataFrame({'name': ['Gary', 'Stu', 'Mary', 'Sue'],
                    'rank': [1, 2, 3, 4]})
df7

In [ ]:
df8 = pd.DataFrame({'name': ['Gary', 'Stu', 'Mary', 'Sue'],
                    'rank': [3, 1, 4, 2]})
df8

In [ ]:
pd.merge(df7, df8, on='name')

### Using `_` to merge same column names

In [ ]:
pd.merge(df7, df8, on='name', suffixes=['_left', '_right'])

## Concatenation in NumPy
* One-dimensional arrays

In [ ]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
np.concatenate([x, y, z])

* Two-dimensional arrays

In [ ]:
x = [[1, 2],
     [3, 4]]
np.concatenate([x, x], axis=1)

## Concatenation in pandas

* Series

In [ ]:
ser1 = pd.Series(['a', 'b', 'c'], index=[1, 2, 3])
ser2 = pd.Series(['d', 'e', 'f'], index=[4, 5, 6])
pd.concat([ser1, ser2])

* DataFrames

In [ ]:
df9 = pd.DataFrame({'A': ['a', 'c'],
                    'B': ['b', 'd']})
df9

In [ ]:
pd.concat([df9, df9])

### Re-indexing

In [ ]:
pd.concat([df9, df9], ignore_index=True)

### Changing Axis

In [ ]:
pd.concat([df9, df9], axis=1)

> Note that while pandas will display this without error, you will get an error message if you try to assign this result as a new `DataFrame`. Column names in `DataFrame`s must be unique.

### Concatenation with joins

In [ ]:
df10 = pd.DataFrame({'A': ['a', 'd'],
                     'B': ['b', 'e'],
                     'C': ['c', 'f']})
df10

In [ ]:
df11 = pd.DataFrame({'B': ['u', 'x'],
                     'C': ['v', 'y'],
                     'D': ['w', 'z']})
df11

In [ ]:
pd.concat([df10, df11])

In [ ]:
pd.concat([df10, df11], join='inner')

In [ ]:
pd.concat([df10, df11], join_axes=[df10.columns])

### `append()`

In [ ]:
df9.append(df9)

**Important point**: Unlike the `append()` and `extend()` methods of Python lists, the `append()` method in pandas does not modify the original object. It instead creates a new object with the combined data.

> **Takeaway:** A large part of the value you can provide as a data scientist comes from connecting multiple, often disparate datasets to find new insights. Learning how to join and merge data is thus an essential part of your skill set.